<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <th:block th:insert="~{fragments/bindings :: script}"></th:block>
    <link rel="stylesheet" th:href="@{/css/editor.css}" />
    <script th:src="@{/javascript/editor.js}" type="module" defer></script>
    <script th:src="@{/javascript/application/paginas/editor/callbacksElementos.js}"></script>
    <script th:src="@{/javascript/application/paginas/editor/grade.js}"></script>
    <script th:src="@{/javascript/application/paginas/editor/salvar.js}" defer></script>
    <script th:inline="javascript">
      incrementoMovimentacao = Number("[(${incrementoMovimentacaoElemento})]");
      configurarGrade("--espessura-grade", "[(${espessuraGrade})]");
      configurarGrade("--tamanho-quadrado-grade", "[(${tamanhoQuadradoGrade})]");
    </script>
    <title th:text="#{web.page.editor.title}"></title>
  </head>
  <body>
    <!--
    ~ Copyright (c) 2025-2026. Heber Ferreira Barra, Matheus de Assis de Paula, Matheus Jun Alves Matuda.
    ~
    ~ Licensed under the Massachusetts Institute of Technology (MIT) License.
    ~ You may obtain a copy of the license at:
    ~
    ~    https://choosealicense.com/licenses/mit/
    ~
    ~ A short and simple permissive license with conditions only requiring preservation of copyright and license notices.
    ~ Licensed works, modifications, and larger works may be distributed under different terms and without source code.
    ~
    -->
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="barra-de-tarefas">
      <details class="menu-opcoes">
        <summary th:title="#{web.editor.toolbar.file}" id="arquivo">
          <th:block th:insert="~{fragments/editor/icons/file :: svg}"></th:block>
        </summary>
        <div class="mostrar-conteudo">
          <div class="comando">
            <span class="itens-menu" th:text="#{web.page.editor.toolbar.item.new-file}"></span>
            <span class="atalho">Ctrl+N</span>
          </div>
          <div class="comando">
            <span class="itens-menu" th:text="#{web.page.editor.toolbar.item.open-file}"></span>
            <span class="atalho">Ctrl+O</span>
          </div>
          <hr />
          <div class="comando">
            <span class="itens-menu" th:text="#{web.page.editor.toolbar.item.save-file}"></span>
            <span class="atalho">Ctrl+S</span>
          </div>
          <div class="comando">
            <span class="itens-menu" th:text="#{web.page.editor.toolbar.item.export-file}"></span>
            <span class="atalho">Ctrl+E</span>
          </div>
          <hr />
          <div class="comando">
            <span class="itens-menu">Imprimir</span>
            <span class="atalho">Ctrl+P</span>
          </div>
        </div>
      </details>
      <details class="menu-opcoes">
        <summary th:title="#{web.editor.toolbar.pages}" id="paginas">
          <th:block th:replace="~{fragments/editor/icons/pages :: svg}"></th:block>
        </summary>
        <div id="menu-pagina">
          <button class="pagina-selecao">
            <span> + </span>
          </button>
        </div>
      </details>
      <button th:title="#{web.editor.toolbar.copy}" id="copiar">
        <th:block th:replace="~{fragments/editor/icons/copy :: svg}"></th:block>
      </button>
      <button th:title="#{web.editor.toolbar.paste}" id="colar">
        <th:block th:replace="~{fragments/editor/icons/paste :: svg}"></th:block>
      </button>
      <button th:title="#{web.editor.toolbar.cut}" id="cortar">
        <th:block th:replace="~{fragments/editor/icons/cut :: svg}"></th:block>
      </button>
      <button th:title="#{web.editor.toolbar.undo}" id="desfazer">
        <th:block th:replace="~{fragments/editor/icons/undo :: svg}"></th:block>
      </button>
      <button th:title="#{web.editor.toolbar.redo}" id="refazer">
        <th:block th:replace="~{fragments/editor/icons/redo :: svg}"></th:block>
      </button>
      <button th:title="#{web.editor.toolbar.erase}" id="apagar">
        <th:block th:replace="~{fragments/editor/icons/delete :: svg}"></th:block>
      </button>
      <button th:title="#{web.editor.toolbar.delete}" id="deletar">
        <th:block th:replace="~{fragments/editor/icons/deleteAll :: svg}"></th:block>
      </button>
    </div>
    <aside id="painel-esquerdo">
      <button type="button" class="btn-painel-esquerdo btn-esconder">&lt;</button>
      <button type="button" class="btn-painel-esquerdo btn-mostrar">&gt;</button>
      <section id="diagramas" class="pagina">
        <h2 th:text="#{web.page.editor.section.diagrams}"></h2>
        <section id="banco-de-dados">
          <h2 th:text="#{web.page.editor.section.diagramas.others}"></h2>
          <label th:each="d : ${diagramasBD}" th:title="${d.getTitulo()}">
            <input class="carregar-diagrama" type="checkbox" th:value="${d.getValor()}" />
            <span class="traco">-</span>
            <span th:text="${d.getNome()}"></span>
          </label>
        </section>
      </section>
      <section id="componentes" class="pagina">
        <h2 th:text="#{web.page.editor.section.components}"></h2>
      </section>
    </aside>
    <aside id="painel-direito">
      <button type="button" class="btn-painel-direito btn-esconder">&gt;</button>
      <button type="button" class="btn-painel-direito btn-mostrar">&lt;</button>
      <section id="propriedades" class="pagina">
        <h2 th:text="#{web.page.editor.section.properties}"></h2>
        <label>
          <th:block th:text="#{web.page.editor.section.properties.x}"></th:block>
          <input type="text" name="componente-x" />
        </label>
        <label>
          <th:block th:text="#{web.page.editor.section.properties.y}"></th:block>
          <input type="text" name="componente-y" />
        </label>
        <label>
          <th:block th:text="#{web.page.editor.section.properties.height}"></th:block>
          <input type="text" name="componente-altura" />
        </label>
        <label>
          <th:block th:text="#{web.page.editor.section.properties.width}"></th:block>
          <input type="text" name="componente-largura" />
        </label>
        <label>
          <th:block th:text="#{web.page.editor.section.properties.fontsize}"></th:block>
          <input type="text" name="componente-tamanho-fonte" />
        </label>
      </section>
      <section id="seletor-tipos-conexao" class="pagina">
        <h2 th:text="#{web.page.editor.section.type-selector}"></h2>
      </section>
    </aside>
    <main>
      <div
        class="info-diagrama"
        id="tipos-diagrama"
        style="display: none"
        th:text="${novoDiagramaDTO.getTiposDiagrama()}"
      ></div>
      <div class="seta seta-superior" style="rotate: 270deg"></div>
      <div class="seta seta-inferior" style="rotate: -270deg"></div>
      <div class="seta seta-direita"></div>
      <div class="seta seta-esquerda" style="rotate: 180deg"></div>
      <div id="seta-placeholder" style="display: none; position: absolute">X</div>
    </main>
    <div th:replace="~{fragments/cookiesBanner :: #cookies-banner}"></div>

    <footer>
      <div>
        <div class="aba">
          <p>x</p>
        </div>
      </div>
      <div class="aba" id="nova-aba">+</div>
    </footer>
  </body>
</html>
