<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <th:block th:replace="~{/fragments/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/editarFeedback.css}" />
    <title th:text="#{web.page.edit-feedback.title}"></title>
    <script th:src="@{/javascript/editarFeedback.js}" defer></script>
    <meta name="_csrf" th:content="${_csrf.token}" />
  </head>
  <body>
    <header th:replace="~{/fragments/header :: header}"></header>
    <main>
      <h2 th:text="${feedback.getAtividade().getNome()}"></h2>
      <img th:src="${feedback.getImagemAtividade()}" alt="" />
      <div>
        <span id="estudante">
          <th:block
            th:text="${feedback.getEstudante().getMatricula()} + ' - ' + ${feedback.getEstudante().getNome()}"
          ></th:block>
        </span>
        <label id="data-entrega">
          <span th:text="#{web.page.edit-feedback.submit-date}"></span>
          <input type="datetime-local" th:value="${feedback.getDataCriacao()}" readonly />
        </label>
      </div>
      <div id="feedback-description">
        <div></div>
      </div>
      <div id="feedback-description-placeholder">
        <th:block th:text="${feedback.getDescricao()}"></th:block>
      </div>
      <button type="button" th:text="#{web.page.edit-feedback.save}"></button>
    </main>
  </body>
</html>
