.elemento-atributo {
  background-color: transparent;
  border-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 1rem 0;

  &:hover {
    background-color: transparent;
    border-color: var(--cor-borda-componente-selecionado);
  }

  &.selected {
    border-color: var(--cor-borda-componente-selecionado);
  }

  .nome {
    margin: 0.2rem;
  }

  .marcador-atributo {
    border: solid 0.1rem var(--cor-borda);
    border-radius: 50%;
    cursor: pointer;
    width: 1rem;
    aspect-ratio: 1 / 1;
    margin: 0.2rem 0;
  }

  .marcador-atributo.primary-key {
    background-color: var(--cor-borda);
  }
}
