.elemento-cardinalidade {
  border-color: transparent;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 1rem;

  div.tipo {
    pointer-events: none;
  }

  &.selected {
    border-color: var(--cor-borda-componente-selecionado);
  }

  &:hover {
    background-color: transparent;
  }
}
