.elemento-entidade-relacional {
  align-items: unset;
  display: flex;
  flex-direction: column;
  justify-content: unset;

  &:hover,
  &.selected {
    div.nome,
    div.atributo {
      border-color: var(--cor-borda-componente-selecionado);

      span.chave svg .svg-cor-fill {
        color: var(--cor-componente-hover);
      }
    }
  }

  &.selected {
    button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: calc(100% + 0.5rem);
      right: 0;
      width: 2rem;
      height: 2rem;
    }
  }

  div.nome {
    background-color: var(--cor-botao);
    border-bottom: var(--cor-borda) solid 0.2rem;
    color: var(--cor-fundo);
    cursor: text;
    height: fit-content;
    padding: 0.3rem;
    text-align: center;
    width: 100%;
  }

  div.atributo {
    border-bottom: var(--cor-borda) solid 0.1rem;
    cursor: text;
    display: grid;
    grid-column: 3;
    grid-template-columns: 20% 0.3rem calc(80% - 0.3rem);
    height: 1.9rem;
    padding: 0.3rem 1.3rem 0.3rem 0.3rem;
    width: 100%;

    span.chave {
      display: flex;
      align-items: center;
      grid-column: 1;
      justify-content: center;
      pointer-events: none;
      height: 100%;
      width: 100%;

      svg {
        height: 200%;
        pointer-events: none;

        .svg-cor-fill {
          color: var(--cor-fundo);
        }

        &.chave-primaria {
          color: var(--cor-chave-primaria);
        }

        &.chave-estrangeira {
          color: var(--cor-chave-estrangeira);
        }

        &.chave-mista {
          color: var(--cor-chave-mista);
        }

        &.chave-unica {
          color: var(--cor-chave-unica);
        }
      }

      svg.chave-escondida {
        display: none;
      }

      span.desc-chave {
        pointer-events: none;
      }
    }

    span.texto {
      align-self: center;
      grid-column: 3;
    }
  }

  button {
    display: none;
  }
}
